$primary-normal: #72432b;
$primary-dark: #452515;
$primary-light: #ac6b4a;

$secondary-normal: #f38148;
$secondary-dark: #b45c31;
$secondary-light: #f79d70;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$white-secondary: #ffe4c8;
$marron-secondary: rgb(101, 81, 57);

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;
