header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  color: $white-normal;
  font-size: 18px;
  font-weight: bold;
}

.header-options {
  display: flex;
  gap: 14px;
  color: $white-normal;
}

.header-options a:hover {
  span {
    color: $white-secondary;
    transition: color 0.8s;
  }
}

.header-button {
  border: 1px solid $white-normal;
  padding: 8px 24px;
  border-radius: 4px;
  color: $white-normal;
  background-color: transparent;
  font-weight: bolder;
  transition: background-color 0.8s;
}

.header-button:hover {
  font-weight: bold;
  background-color: $red-normal;
  border: 1px solid $red-normal;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

// ADAPTAÇÃO PARA  MOBILE

@media screen and (max-width: 768px) {
  .header-content {
    display: flex;
    flex-direction: column;

    .header-options {
      display: flex;
      gap: 40px;
      margin-top: 46px;
    }
  }

  .header-button {
    display: none;
  }
}
