@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Bangers&family=Black+Ops+One&family=Creepster&family=Ephesis&family=Kenia&family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@1,300&family=Oxanium&family=Pixelify+Sans&family=Playpen+Sans:wght@300&family=Poppins:wght@100&family=Press+Start+2P&family=Roboto+Mono&family=Roboto:wght@100&family=Sedgwick+Ave+Display&display=swap");

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: " ";
  display: block;
  position: absolute;
  background-image: linear-gradient(
      to bottom,
      rgba(101, 81, 57, 0.042),
      #72432b
    ),
    url("../assets/background/coffe2.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  opacity: 0.9;
}

// TÍTULO

.titulo {
  color: $white-normal;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
  h1 {
    text-align: center;
    line-height: 150%;
    max-width: 940px;
    font-size: 75px;
    font-family: Ephesis, sans-serif;
  }
  p {
    text-align: center;
    margin: 14px 0;
  }
  .button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
  }
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

// ADAPTAÇÃO PARA MOBILE

@media screen and (max-width: 768px) {
  .titulo {
    min-height: 60vh;
    h1 {
      font-size: 50px;
      padding: 0 14px;
      width: 100%;
    }
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 480px) {
  .titulo h1 {
    font-size: 44px;
  }
}

//ABOUT

.about {
  background-color: $primary-normal;
  overflow: hidden;
  color: $white-normal;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;

  img {
    max-width: 570px;
  }
}

.about-container div {
  flex: 1;
}

.about-description {
  h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 14px;
    line-height: 150%;
  }
}

//  ADAPTANDO PARA MOBILE

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    gap: 60px;
  }
}

// SERVIÇOS

.services {
  background-color: $white-secondary;
  color: $black-normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 54px 45px;
}

.services-container h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 25px;
  margin-top: 40px;
}

.services-container p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.tipos-servicos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.tipo-servico {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $white-normal;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 354px;
    transition: transform 0.2s;
  }
}

.tipo-servico img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.tipo-servico-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: $white-normal;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  .tipos-servicos {
    flex-direction: column;
  }
}

// RODAPÉ

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: $white-secondary;
}
.footer-icons a {
  color: $white-secondary;
}
