@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Akronim&family=Bangers&family=Black+Ops+One&family=Creepster&family=Ephesis&family=Frijole&family=Kenia&family=Merienda&family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@1,300&family=Oxanium&family=Pixelify+Sans&family=Playpen+Sans:wght@300&family=Poppins:wght@100&family=Press+Start+2P&family=Roboto+Mono&family=Roboto:wght@100&family=Sedgwick+Ave+Display&family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Akronim&family=Bangers&family=Black+Ops+One&family=Creepster&family=Ephesis&family=Kenia&family=Merienda&family=Nothing+You+Could+Do&family=Open+Sans:ital,wght@1,300&family=Oxanium&family=Pixelify+Sans&family=Playpen+Sans:wght@300&family=Poppins:wght@100&family=Press+Start+2P&family=Roboto+Mono&family=Roboto:wght@100&family=Sedgwick+Ave+Display&family=Xanh+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
  height: 100vh;
  width: 100%;
  font-family: "Xanh Mono", sans-serif;
  position: relative;
  background-color: $primary-normal;
}

button {
  font-family: "Xanh Mono", sans-serif;
  cursor: pointer;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}
